.vscode/*
data/*
datav2/*
*.pkl
.ipynb_checkpoints*
__pycache__*
*.tar.gz
*.bin
experimentos_old/*
pretrained_models/*
experimentos/**/*.pkl
experimentos_old/**/*.pkl
experimentos_old/**/*.freqs
experimentos_old/**/*.tokenized
experimentos/**/*.freqs
experimentos/**/*.tokenized
other_datasets/tass2012/*